// base colors
$text: #1d1d1d;
$textSecond: #9b9b9b;
$bg: #f6f6f6;
$bgComponent: #fff;

// the rooms colors
$bedroom: #20aaea;
$livingroom: #fd9a00;
$bathroom: #37c5ab;
$outdoors: #8da3a6;

// other
$radius: 10px;
