@import "styles/_mixins";

.app {
  position: relative;
  min-height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
