.refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:active {
    box-shadow: none;

    .refresh-button__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }
}
